<div  data-controller="github">

<div class="container d-flex justify-content-center mt-5">
  <form class="row">
    <div class="col-auto">
      <label for="inputOwner" class="visually-hidden">Owner</label>
      <input type="text" class="form-control" id="inputOwner" data-github-target="inputOwner" required>
    </div>
    <div class="col-auto">
      <label for="inputRepo" class="visually-hidden">Repo</label>
      <input type="text" class="form-control" id="inputRepo" data-github-target="inputRepo" required>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3" data-github-target="submitBtn" data-action="click->github#handleSearch">Explore</button>
    </div>
  </form>
</div>


<div class="container d-flex justify-content-center">
  <div class="commit-navigation">
    <div class="refresh">
      <button class="btn btn-success btn-refresh" data-action="github#refresh">
        <span>Refresh</span>
      </button>
    </div>
    <div class="pagination">
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="commit-results">
      <ul class="list-group results">
      </ul>
    </div>

</div>
</div>
