<div class="welcome-message">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Objective</h5>
      <p class="card-text">The goal of this test will be to create an app that shows git commit history of the project https://github.com/haessr/take-home-test</p>
      <%= link_to "Explore", commits_index_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>